body {
  background-color: #72AEB3;  
}

header {
  /* color: whitesmoke; */
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: rgb(201, 242, 245);
  background-position-y: 50%;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px;
}

h1 {
  font-size: 52px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-style: italic;
  font-size: 16px;
  text-align: center;
  padding-bottom: 10px;
}

h3 {
  text-align: center;
  font-size: 32px;
  padding-bottom: 20px;
  padding-top: 10px;
}

article {
  background-color: #D6FCFF;
  width: 50%;
  height: 275px;
  overflow: scroll;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px;
}

#myPicture {
  border-radius: 50%;
  display: block;
  margin: auto;
  max-width: 150px;
  padding-bottom: 10px;
  padding-top: 15px;
  transition: transform .4s;
}

#myPicture:hover {
  transform: scale(1.5);
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 20px;
  width: 70%;
  margin: auto;
}

ul, ol {
  text-align: left;
  padding-bottom: 10px;
  width: 65%;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  padding-bottom: 8px;
}

#artists {
  text-align: center;
}

footer {
  padding: 10px;
  text-align: center;
  height: 40px;
}

nav > a {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  box-shadow: 0px 5px #D6FCFF;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  vertical-align: middle;
}

a:visited {
  color: #BCFBFF;
}

a:hover {
  color: #D6FCFF;
  background-color: teal;
}

a:active {
  box-shadow: 0px 2px #D6FCFF;
  transform: translateY(2px);
}

nav {
  display: inline-block;
}