body {
  background-color: rgb(205, 205, 241);
}
header {
  text-align: center;
  padding-bottom: 20px;
}

h1 {
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-style: italic;
  font-size: 16px;
}

h3 {
  text-align: center;
  font-size: 32px;
  padding-bottom: 20px;
  text-decoration: underline;
  text-decoration-color: rgb(117, 119, 226);
}

article {
  background-color: rgba(245, 245, 245, 0.199);
  width: 50%;
  height: 300px;
  overflow: scroll;
  margin: auto;
  border-radius: 8%;
}

img {
  border-radius: 50%;
  display: block;
  margin: auto;
  max-width: 125px;
  padding-bottom: 10px;
  transition: transform .2s;
}

img:hover {
  transform: scale(1.5);
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 10px;
}

ul, ol {
  text-align: left;
  /* border: 1px solid red; */
  padding-bottom: 10px;
  width: 65%;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

li {
  padding-bottom: 8px;
}

#artists {
  text-align: center;
}