body {
  background-color: #72AEB3;  
}

header {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: rgb(201, 242, 245);
  width: 50%;
  margin: auto;
  border-radius: 10px;
}

h1 {
  font-size: 52px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-style: italic;
  font-size: 16px;
  text-align: center;
  padding-bottom: 10px;
}

h3 {
  text-align: center;
  font-size: 32px;
  padding-bottom: 20px;
  padding-top: 10px;
}

article {
  background-color: #D6FCFF;
  width: 50%;
  height: 275px;
  overflow: scroll;
  margin: auto;
  border-radius: 10px;
}

#myPicture {
  border-radius: 50%;
  display: block;
  margin: auto;
  max-width: 110px;
  padding-bottom: 10px;
  padding-top: 15px;
  transition: transform .4s;
}

#myPicture:hover {
  transform: scale(1.5);
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 20px;
  width: 70%;
  margin: auto;
}

ul, ol {
  text-align: left;
  padding-bottom: 10px;
  width: 65%;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  padding-bottom: 8px;
}

#artists {
  text-align: center;
}

footer {
  padding: 10px;
  text-align: center;
  height: 40px;
}

#gitHubImg {
  display: inline-block;
  height: 80%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  font-size: 20px;
  vertical-align: middle;
}

a:hover {
  color: #D6FCFF;
}
